.container{
  display: flex;
  flex-direction: column;
  width: 327px;
}
.selectedText {
  display: flex;
    flex-direction: column;
    min-width: 327px;
    min-height: 60px;
    border-radius: 8px;
    border: none;
    outline: 1px  solid #cacbde;
    position: relative;
    margin: 12px 0;
  width: 327px;

}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 327px;
  max-height: 276px;
  border-radius: 8px;
  border: 1px solid #CACBDE;
  padding: 8px 0px;
}

.selectOptions {
  width: 100%;
}

li {
  list-style-type: none;
  padding: 6px 20px;
  cursor: pointer;
}

li:hover {
  background-color: #3356D7;
  color: #ffffff;
}